<!-- @Input() allows a parent component to update data in the child component. 
    @Output() allows the child to send data to a parent component.
 -->

<!-- Pass data from parent -> child -->

<!--   
  <div *ngIf="selectedHero">

    <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
  </div> -->


<!-- Use @Output -->
<!-- <input #dataSendParent id ="sendToParent" (keydown) = "onKey($event)" type="text" >  -->

<p class="h2">{{hero.name | uppercase}} Details</p>

<p>id: {{hero.id}}</p>

<label for="selectedHero">
  Hero Name:
</label>
<!-- two way data bind -->
<input type="text" id="selectedHero" [(ngModel)]="hero.name">
<br>

<br>
<button class="btn btn-sm" (click)="deleteHero()">Delete</button>
<button class="btn btn-sm" (click)="goBack()">Go back</button>


<router-outlet></router-outlet>
