<!-- <h1>{{title}}</h1>

<h3 *ngIf = "hero.name ; else empty ">{{hero.name}} Details</h3>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>

<ng-template #empty>
    Empty Hero name!
</ng-template> -->

<!-- 

TODO:
implement @Output

 -->
 <div class= "border border-secondary">

<h3>Hero Component</h3>

<!-- <div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="heroes.name" placeholder="name">
  </div> -->


  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
    </li>
  </ul>

<!-- @Input property injected -->
<!-- Use property binding to bind the item property in the child to the currentItem property of the parent.
 -->

</div>

